
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "Director Message.css";
@import "About AUSB.css";
@import "Colleges.css";
@import "Physical Director Profile.css";
@import "Official.css";
@import "Zonal.css";
@import "InterZonal.css";
@import "InterUniversity.css";
@import "News and Events.css";
@import "Achievements.css";
@import "Achievements\ 2015-2016.css";
@import "Achievements\ 2012-2013.css";
@import "Contact Us Section.css";
@import "Important Links.css";
@import "Gallery Section.css";
@import "Card Section.css";
@import "360 Degree Section.css";
@import "Media Query 576px.css";
@import "Media Query 768px.css";
@import "Media Query 992px.css";
@import "Media Query 1200px.css";
/* News and Events Section */

.basketball{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.bb1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 20%;
    color: #192F59;
   
    
}

.bb1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.basketball .basketball1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Tennis Section */


.tennis{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.tt1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 2%;    
    width: 10%;
    color: #192F59;
   
    
}

.tt1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}


.tennis .tennis1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Hockey Section */


.Hockey{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.hh1{

    position: relative;
    top:2%;
    left:5%;
    background-color: #FFCC66;
    height: 2%;    
    width: 10%;
    color: #192F59;
   
    
}

.hh1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.Hockey .Hockey1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Card Design Section */


.content .title{

    color:#0063B2;
    font-size:1em;
    font-weight:bold;
}

.card .content .btn1 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn1 button:hover{
    
    transform: scale(0.9);

}


.card .content .btn1 button span{

    color: #FFCC66;
}

.card .content .btn2 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn2 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn2 button:hover{

    transform: scale(0.9);
}


.card .content .btn2 button span{

    color: #FFCC66;
}

.card .content .btn3 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn3 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn3 button:hover{

    transform: scale(0.9);
}


.card .content .btn3 button span{

    color: #FFCC66;
}

.card .content .btn4 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn4 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn4 button:hover{

    transform: scale(0.9);
}


.card .content .btn4 button span{

    color: #FFCC66;
}

.card .content .btn5 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn5 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn5 button:hover{

   transform: scale(0.9);
}

.card .content .btn5 button span{

    color: #FFCC66;
}
