
/* News and Events Section */

.NN1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.NE1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 20%;
    color: #192F59;
   
    
}

.NE1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.NN1 .Interzonal-links p{

    color: #FFCC66;
    width: 100vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}

