

/* Physical Director Profile Section */


.Physical{
    
    position: relative;
    top:10vmin;
    left:10%;
    width:80%;
    height:50vh;
    background-color: #192F59;
    border-radius:8px;
}

.director{

    position: relative;
    top:10%;
    left:5%;
    background-color: #FFCC66;
    height: 7.5vh;    
    width:20vw;
    color: #192F59;
    
}

.director P{

    position: relative;
    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
    width:500%;
}



.director .link{
    
    position: relative;
    top:50%;
    color: #FFCC66;
    
}
