@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler{

    background-color: white;
}

 .nav-item{

    color: white;
}

.search{
    padding:20px;
    color:white;
}

.navbar-brand{

    padding:20px;
    color:white;
    font-size: 1.5em;
    font-weight:600;
}

.navbar-toggler-icon{
    
    position: relative;
    top: 0;
    bottom: 0;
    padding:5px;  
    color:#FFCC66; 
}

.nav-item .nav-link{
    color:white;
    font-size: 1em;
    font-weight:400;
    
}

.nav-link{

    padding:10px;
}

.dropdown-item{
    padding:10px;
}

 .scroll-news{
    position: relative;
    color:#FFCC66;
    background-color: #192F59;
    opacity:78%;
    width:100%;
    height: 2em;
    
}

.scroll-news p{

    position: relative;
    left:20%;
    font-size: 1em;
}

.carousel-item{

    border-radius: 8px;
}

/* Ground Background */

.ground img{
   
    position:relative;
    width: 100%;
    height: auto;
    position: absolute;
}

.ground-container{

    position: relative;
}
 
/* Zonal Section */

 .Zonal{

    position: relative;
    background-color: #192F59;
    width: 20%;
    height: auto;
    top: 35vmin;
    left:18vmin;
    border-radius: 8px;  
    transition:0.5s;
    cursor: pointer;
 
}

.Zonal:hover{

    transform: translateY(-50px);
}

.Zonal ul li{
    color:#FFCC66;
    list-style-type: none;
    padding:4%;
    font-size: 1vw;
}

.Zonal h2{

    font-size: 1vw;
    font-weight: 600;
    color: white;
    padding-left: 30%;
} 

/* Latest News */

.Latest-news{
    
    position: relative;
    top: 5%;
    left: 50%;
    display:block;
    background-color: #192F59;
    border-radius: 8px;
    width: 100%;
    height:40vh;
   

}

.Latest-news ul li{
    
    display:block;
    list-style-type: none;
    color:#FFCC66;
    padding:2.5%;
    font-size: 1vw;
}

.Latest-news ul li:nth-child(1){

    color:white;
    font-size: 1vw;
    font-weight:550;
}

/* Screen Reader Access */

.Screen-reader{

    background-color: #192F59;
    border-radius: 8px;
    width:65%;
    height:auto;
    position: relative;
    left: 120%;
    top:-60%;

}

.Screen-reader ul li{


    list-style-type: none;
    color:#FFCC66;
    padding:2%;

}

.Screen-reader ul li:nth-child(1){

    color:white;
    font-size: 1em;
    font-weight:550;

}

/* Sports Insights */

#particles-js{

    background-color:#192F59;
    width:100%;
    height:20vh;

}

#particles-js p{

    position: relative;
    color:white;
    font-size:1.5em;
    font-weight:bold;
    top:25%;
    left:45%;

}

.card img{
    width: 100%;
    height: auto;
    padding: 7%;
}

/* InterZonal Section */


.InterZonal{

    position: relative;
    background-color: #192F59;
    width: 20%;
    height: 50vh;
    top: -15vmin;
    left:75vmin;
    border-radius: 8px;  
    transition:0.5s;
    cursor: pointer;
 
}

.InterZonal:hover{

    transform: translateY(-50px);
}

.InterZonal ul li{
    color:#FFCC66;
    list-style-type: none;
    padding:4%;
    font-size: 1vw;
}

.InterZonal h2{

    font-size: 1vw;
    font-weight: 600;
    color: white;
    padding-left: 30%;
} 

/* InterUniversity Section */


.InterUniversity{

    position: relative;
    background-color: #192F59;
    width: 20%;
    height: auto;
    top: -60vmin;
    left:135vmin;
    border-radius: 8px;  
    transition:0.5s;
    cursor: pointer;
 
}

.InterUniversity:hover{

    transform: translateY(-50px);
}

.InterUniversity  ul li{
    color:#FFCC66;
    list-style-type: none;
    padding:4%;
    font-size: 1vw;
}

.InterUniversity h2{

    font-size: 1vw;
    font-weight: 600;
    color: white;
    padding-left: 30%;
} 

.About-Us{
    
    background-color:#192F59;
    width:100%;
    height:10vh;
  
 
}
.About-Us p{
    
    color: white;
    
}

.hand{
    position: absolute;
}

.hand-paragraph h2{
    
    position: relative;
    color: white;
    top:7vmin;
    left:19%;
    font-size:1vw;
    font-weight: 600;
    color: #FFCC66;
    width:100%;
    height:auto;
    padding: 2%;

   
}

.hand-paragraph p{

    position: relative;
    color: white;
    left: 21%;
    top:5vmin;
    width:58%;
    height:auto;
    padding: 0.1%;
    font-size:1vw;
    
}


/* Footer Section */



.footer{

    background-color:#192F59;
    width:100%;
    height:10vh;
}

.footer ul{
   
    display: flex;
    width: 100%;
    height:auto;
    background-color: #192F59;
    margin-top: 50vh;
    

}

.footer ul li{
    
    position: relative;
    list-style-type: none;
    padding-top: 1.5%;
    padding-bottom:4%;
    padding-right: 4%;
    padding-left:6%;
    color: white;
    font-size: 1vw;
    font-weight: 550;
    
}

.footer ul p{
    
     
    position: relative;
    display: block;
    color: #FFCC66;
    
}

.line{
   
     
    position: relative;
    margin-top:1%;
    padding:3%;
    color: white;
}


.line2{

     
    position: absolute;
    margin-top:-1%;
    width:190vh;
    color: #FFCC66;
    border: 1px solid #FFCC66;

    
}


/* Director Message Section */

.Message{
    
    position: relative;
    margin-top: 5%;
    margin-bottom: 10%;
    left: 10%;
    width: 80%;
    height: 150vh;
    background-color: #192F59;
    border-radius:8px;
}

.heading{

    position: relative;
    background-color: #FFCC66;
    height: 5%;    
    width: 215px;
    color: #192F59;
    top: 5%;
    left: 5%;
    
}

.heading P{

    padding: 5% 0 0 5%;
    font-weight: 550;
    font-size: 1em;
}



.Message .heading img{

    width: 100%;
    height: auto;
 
    
}

.Message .heading span h2{
    
    display: inline-block;
    color: #FFCC66;
    position: relative;
    left:130%;
    top:-400%
    
  
}

.Message .heading span ul{

    position: relative;
    left:130%;
    top:-400%
   
}

.Message .heading span ul li{

    color: #FFCC66;
    list-style-type: none;
    padding: 10px;
    width:100vh;
    
}

.Message .heading span ul li:nth-child(7){
    
    width: 1200px;
    padding: 30px;
    font-weight: 300;
}


.Message .heading span ul li:nth-child(8){

    width: 1200px;
    padding: 20px;
 
    font-weight: 300;
}

.Message .heading span ul li:nth-child(9){

    width: 1200px;
    padding: 20px;
   
    font-weight: 300;
}


.Message .heading span ul li:nth-child(10){

    width: 1200px;
    padding: 20px;
  
    font-weight: 300;
}


/* About AUSB */ 

.ausb1{
    
    position: relative;
    top:10vh;
    left:5%;
    width: 90vw;
    height: 700vh;
    background-color: #192F59;
    border-radius:8px;
    
}

.ausb2{

    position: relative;
    background-color: #FFCC66;
    height:7vh;    
    width: 18%;
    color: #192F59;
    top:1%;
    left:5%;
    

    
}

.ausb2 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
    
}




.Organisation H5{


    position: relative;
    left:8%;
    top:10%;
    color:white;
    font-weight:600;
    font-size: 1.5em;
    width:150vw;
  
 
  

}

.Organisation p{
    
    position: relative;
    left:-11%;
    color: #FFCC66;
    width: 80vw;
    font-weight:300;
    font-size: 1em;
  
    
  
}

/* Zone-Wise Colleges Section */

.Zone-wise{
    
    position: relative;
    top:10vh;
    left:10%;
    width: 80vw;
    height: 200vh;
    background-color: #192F59;
    border-radius:8px;
}

.colleges{
    
    position: relative;
    top:2%;
    left:5%;
    background-color: #FFCC66;
    height: 7vh;    
    width: 20%;
    color: #192F59;
    
    
}

.colleges P{

    padding: 5% 0% 0% 10%;
    font-weight: 550;
    font-size: 1em;
}



.colleges ul li{
    
    display: flex;
    justify-content: space-between;
    color: #192F59;
    background-color: #FFCC66;
    width: 10vw;
    height: 6vh;
    padding: 10%;
    border-radius: 4px;
}


.Zone-wise .colleges ul li:nth-child(1){
   
    position: relative;
    color:#192F59;
    top:20%;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
   
}

.Zone-wise .colleges ul li:nth-child(2){

    position: relative;
    color:#192F59;
    top:20%;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
}

.Zone-wise .colleges ul li:nth-child(3){

    position: relative;
    color:#192F59;
    top:20%;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
}


.Zone-wise .colleges ul li:nth-child(4){

    position: relative;
    color:#192F59;
    top:20%;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
}



.Zone-wise .colleges ul li:nth-child(5){

    position: relative;
    color:#192F59;
    top:20%;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
}



.Zone-wise .colleges ul li:nth-child(6){

    
    position: relative;
    color:#192F59;
    top:0%;
    left:13vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 20%;
    transform: translateY(-45vh);
}

.Zone-wise .colleges ul li:nth-child(7){

    position: relative;
    color:#192F59;
    top:0%;
    left:13vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-45vh);
}

.Zone-wise .colleges ul li:nth-child(8){

    position: relative;
    color:#192F59;
    top:0%;
    left:13vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-45vh);
}


.Zone-wise .colleges ul li:nth-child(9){

    position: relative;
    color:#192F59;
    top:0%;
    left:13vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-45vh);
}



.Zone-wise .colleges ul li:nth-child(10){

    position: relative;
    color:#192F59;
    top:0%;
    left:13vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 20%;
    transform: translateY(-45vh);
}

.Zone-wise .colleges ul li:nth-child(11){

    position: relative;
    color:#192F59;
    top:0%;
    left:25vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 20%;
    transform: translateY(-90vh);
}

.Zone-wise .colleges ul li:nth-child(12){

    position: relative;
    color:#192F59;
    top:0%;
    left:25vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-90vh);
}

.Zone-wise .colleges ul li:nth-child(13){

    position: relative;
    color:#192F59;
    top:0%;
    left:25vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-90vh);
}


.Zone-wise .colleges ul li:nth-child(14){

    position: relative;
    color:#192F59;
    top:0%;
    left:25vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-90vh);
}



.Zone-wise .colleges ul li:nth-child(15){

    position: relative;
    color:#192F59;
    top:0%;
    left:25vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-90vh);
}


.Zone-wise .colleges ul li:nth-child(16){

    position: relative;
    color:#192F59;
    top:0%;
    left:38vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 20%;
    transform: translateY(-135vh);
}

.Zone-wise .colleges ul li:nth-child(17){

    position: relative;
    color:#192F59;
    top:0%;
    left:38vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-135vh);
}

.Zone-wise .colleges ul li:nth-child(18){

    position: relative;
    color:#192F59;
    top:0%;
    left:38vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-135vh);
}


.Zone-wise .colleges ul li:nth-child(19){

    position: relative;
    color:#192F59;
    top:0%;
    left:38vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 25%;
    transform: translateY(-135vh);
}



.Zone-wise .colleges ul li:nth-child(20){

    position: relative;
    color:#192F59;
    top:0%;
    left:38vw;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 18%;
    margin-top: 20%;
    transform: translateY(-135vh);
}

.wrapper{

    margin:20% 0% 0% 60%;
}

/* Physical Director Profile Section */


.Physical{
    
    position: relative;
    top:10vmin;
    left:10%;
    width:80%;
    height:50vh;
    background-color: #192F59;
    border-radius:8px;
}

.director{

    position: relative;
    top:10%;
    left:5%;
    background-color: #FFCC66;
    height: 7.5vh;    
    width:20vw;
    color: #192F59;
    
}

.director P{

    position: relative;
    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
    width:500%;
}



.director .link{
    
    position: relative;
    top:50%;
    color: #FFCC66;
    
}

/* Staff Section */

.Officials{
    
    position: relative;
    top:10vh;
    left:10%;
    width:85vw;
    height:400vh;
    background-color: #192F59;
    border-radius:8px;
}

.faculities{

    position: relative;
    background-color: #FFCC66;
    height: 7vh;    
    width: 15%;
    color: #192F59;
    top:2%;
    left:5%;
    
}

.faculities P{

    padding: 5% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.Officials .frame-1{
    
    position:relative;
    width: 18vw;
    height:50vh;
    left:25vw;
    background-color:#C4C4C4;
    border-radius: 2%;
      

}

.Officials .frame-1 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-1 p{

    font-size: 1vw;
    padding: 5% 0% 0% 8%;
}


.Officials .frame-2{
    
    position:relative;
    width: 18vw;
    height:50vh;
    left:0vw;
    background-color:#C4C4C4;
    border-radius: 2%;

}

.Officials .frame-2 img{

    
    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-2 p{

    
    font-size: 1vw;
    padding: 5% 0% 0% 8%;
}


.Officials .frame-3{
    
 
    position:relative;
    width: 18vw;
    height:50vh;
    top:-24.4vw;
    left:20vw;
    background-color:#C4C4C4;
    border-radius: 2%;

}

.Officials .frame-3 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-3 p{

   
    font-size: 1vw;
    padding: 2% 0% 0% 8%;
}



.Officials .frame-4{
    
  
    position:relative;
    width: 18vw;
    height:50vh;
    top:-48.9vw;
    left:40vw;
    background-color:#C4C4C4;
    border-radius: 2%;
    

}

.Officials .frame-4 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-4 p{
   
    font-size: 1vw;
    padding: 5% 0% 0% 8%;
}


.Officials .frame-5{
    

    position:relative;
    width: 18vw;
    height:50vh;
    top:-73.2vw;
    left:60vw;
    background-color:#C4C4C4;
    border-radius: 2%;
    

}

.Officials .frame-5 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-5 p{

    font-size: 1vw;
    padding: 5% 0% 0% 8%;
}

.Officials .frame-6{
    
    position:relative;
    width: 18vw;
    height:50vh;
    background-color:#C4C4C4;
    border-radius: 2%;
    top:-70vw;
    left:10vw;
    

}

.Officials .frame-6 img{

    
    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-6 p{

    font-size: 1vw;
    padding: 5% 0% 0% 8%;
}

.Officials .frame-7{
    
    position:relative;
    width: 18vw;
    height:50vh;
    background-color:#C4C4C4;
    border-radius: 2%;
    top:-94.5vw;
    left:30vw;
    

}

.Officials .frame-7 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-7 p{

    
    font-size: 1vw;
    padding: 5% 0% 0% 8%;

}


.Officials .frame-8{
    
     
    position:relative;
    width: 18vw;
    height:50vh;
    background-color:#C4C4C4;
    border-radius: 2%;
    top:-119vw;
    left:50vw;

}

.Officials .frame-8 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-8 p{
    
    font-size: 1vw;
    padding: 5% 0% 0% 8%;
}

.wrapper-2,.wrapper-3{

    margin-top: 50%;
}

/* Zonal Section */

.zonal{
    
    
    position: relative;
    top:10vh;
    left:8vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.z1{

    position: relative;
    background-color: #FFCC66;
    height: 7%;    
    width: 10%;
    color: #192F59;
    top:5%;
    left: 5%;
    
}

.z1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}




.zonal .zonal-links p{

    color: #FFCC66;
    width: 100vw;
    font-weight:500;
    font-size: 1em;
    padding: 15%;
}

/* Inter Zonal Section */

.IIZ1{
    
    position: relative;
    top:10vh;
    left:8vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.IZ1{

    position: relative;
    top:7vh;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 15%;
    color: #192F59;
    
    
}

.IZ1 P{

    padding: 2% 0% 0% 25%;
    font-weight: 550;
    font-size: 1em;
}




.IIZ1 .Interzonal-links p{

    color: #FFCC66;
    width: 100vw;
    font-weight:500;
    font-size: 1em;
    padding: 10%;
}


/* Inter University Section*/


.IU1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.IUD1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 15vw;
    color: #192F59;
    
}

.IUD1 P{

    padding: 2% 0% 0% 25%;
    font-weight: 550;
    font-size: 1em;
}


.IU1 .Inter-links p{
    
    color: #FFCC66;
    width: 500%;
    font-weight:500;
    font-size:1em;
    padding: 10%;


}

.IU1 .Inter-links {

    margin-top: 20%;
}

/* News and Events Section */

.NN1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.NE1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 20%;
    color: #192F59;
   
    
}

.NE1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.NN1 .Interzonal-links p{

    color: #FFCC66;
    width: 100vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Achievements Section */


.table-body{

    position: relative;
    top:5vh;
    left:10%;
    width: 80vw;
    height: 650vh;
    background-color: #192F59;
    border-radius:8px;
}

.tabular-column{
    position: relative;
    top:2vh;
}

.table-heading{
   
    position: relative;
    top:1%;
    left:8%;
    background-color: #FFCC66;
    color: #192F59;
    width: 70vw;
    height: 18vh;
    border-radius: 6px;


}

.table-heading p{
    
    display:flex;
    justify-content: center;
    padding:2%;
    font-size:1em;
    font-weight: 600;
}

.table-heading p:nth-child(2){
      
    position: relative;
    top:-20%;

}

table{
    
    position: relative;
    color: #FFCC66;
    border: 1px;
    margin: 0%;
    border: #FFCC66;
  

}

table td, table th{

    border: 2px solid #FFCC66;
    background-color:#192F59;
    padding: 0%;
    
}

/* Table Heading 2 */


.table-heading2{
   
    position: relative;
    top:6vh;
    left:8%;
    background-color: #FFCC66;
    color: #192F59;
    width: 70vw;
    height: 18vh;
    border-radius: 6px;
  
}

.table-heading2 p{
    

    display:flex;
    justify-content: center;
    padding: 1%;
    font-size:1em;
    font-weight: 600;
}

.table-heading2 p:nth-child(2){
      
    position: relative;
    top:2%;



}

table{
   
    position: relative;
    color: #FFCC66;
    border: 1px;
    margin:20px;
    top:7vh;
    border: #FFCC66;
}

table td, table th{

    border: 2px solid #FFCC66;
    padding: 1vw;
    background-color: #192F59;
    
}


/* Achievements 2015-2016 */


.image{

    position: relative;
    top:15vh;
    left:20%;
    width:50%;
    height: 20%;
}


/* Achcievements 2012-2013 */


/* About AUSB */ 

.ausb4{
     
    position: relative;
    top:10vh;
    left:5vw;
    width: 90vw;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.ausb5{
   
    position: relative;
    top:5vh;
    left:5vw;
    background-color: #FFCC66;
    height: 2%;    
    width: 20%;
    color: #192F59;
  
    
}

.ausb5 P{

    padding: 2% 0% 0% 0%;
    font-weight: 550;
    font-size: 1em;
}



.organisation H5{

    color:white;
    font-weight:600;
    font-size: 1em;
    width: 100%;
    margin-top: 10%;


}

.organisation p{

    color: #FFCC66;
    width: 80vw;
    font-weight:300;
    font-size: 1em;
   
  
}


/* Contact Us Section */


.Q1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.Q2{

    position: relative;
    top:5vh;
    left:2vw;
    background-color: #FFCC66;
    height: 7vh;    
    width: 15%;
    color: #192F59;

    
}

.Q2 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.Q1 .Interzonal-links p{

    color: #FFCC66;
    width:100vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


.Interzonal-links .user{

    position:relative;

}

.Interzonal-links .library,.phone,.mail,.building{

      position:relative;
    
}


.location{
    
    position: relative;
    top:-55vh;
    left: 30vw;
    border-radius: 20px;

}


/* Important Links Section */


.IMP1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.IM1{

    position: relative;
    background-color: #FFCC66;
    height:7%;    
    width:20%;
    color: #192F59;
    top:5%;
    left: 5%;
    
}

.IM1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}




.IMP1 .Interzonal-links p{

    color: #FFCC66;
    width: 100vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}

/* Gallery Section */

.GG1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.G1{

    position: relative;
    top:5vh;
    left:2vw;
    background-color: #FFCC66;
    height:7%;    
    width:20%;
    color: #192F59;

    
}

.G1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}




.GG1 .Interzonal-links p{

    color: #FFCC66;
    width: 65vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
  
}

.Interzonal-links .photo{

    position:relative;
    top:5vh;
    left:25vw;
}

 .description{

    position:relative;
    top:5vh;
    left:5vw;
}


.GA{

    position:relative;
    top:-5vh;
    left:35vw;
}

.GA1{

    position:relative;
    top:-5vh;
    left:35vw;
}

/* Latest-Notifications */

.latest-notifications #particles-js p{
     
    position: relative;
    color:white;
    font-size:1.5em;
    font-weight:bold;
    top:25%;

}

.About-us #particles-js p{

    position: relative;
    color:white;
    font-size:1.5em;
    font-weight:bold;
    top:25%;

}

/* News and Events Section */

.basketball{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.bb1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 20%;
    color: #192F59;
   
    
}

.bb1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.basketball .basketball1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Tennis Section */


.tennis{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.tt1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 2%;    
    width: 10%;
    color: #192F59;
   
    
}

.tt1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}


.tennis .tennis1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Hockey Section */


.Hockey{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.hh1{

    position: relative;
    top:2%;
    left:5%;
    background-color: #FFCC66;
    height: 2%;    
    width: 10%;
    color: #192F59;
   
    
}

.hh1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.Hockey .Hockey1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Card Design Section */


.content .title{

    color:#0063B2;
    font-size:1em;
    font-weight:bold;
}

.card .content .btn1 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn1 button:hover{
    
    transform: scale(0.9);

}


.card .content .btn1 button span{

    color: #FFCC66;
}

.card .content .btn2 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn2 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn2 button:hover{

    transform: scale(0.9);
}


.card .content .btn2 button span{

    color: #FFCC66;
}

.card .content .btn3 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn3 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn3 button:hover{

    transform: scale(0.9);
}


.card .content .btn3 button span{

    color: #FFCC66;
}

.card .content .btn4 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn4 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn4 button:hover{

    transform: scale(0.9);
}


.card .content .btn4 button span{

    color: #FFCC66;
}

.card .content .btn5 {

    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content .btn5 button{

    color: #0063B2;
    border: none;
    outline: none;
    background-color: white;
    font-weight: 500;
    font-size: 1em;
    padding-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn5 button:hover{

   transform: scale(0.9);
}

.card .content .btn5 button span{

    color: #FFCC66;
}

/* 360 Degree Section */


#panorama{

    position: relative;
    width:10vw;
    height: 5vh;

}








/*  Media Query 576px */

@media(max-width:576px){

    .logo{
        height: 0px;
        width:0px;
        visibility: hidden;
    }

    /* Hockey Section */


.Hockey{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.hh1{

    position: relative;
    top:2%;
    left:5%;
    background-color: #FFCC66;
    height: 2%;    
    width: 50%;
    color: #192F59;
   
    
}

.hh1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}


.Hockey .Hockey1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


    
/* Tennis Section */


.tennis{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 400vh;
    background-color: #192F59;
    border-radius:8px;
}

.tt1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 2%;    
    width: 50%;
    color: #192F59;
   
    
}

.tt1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}


.tennis .tennis1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}




    /* News and Events Section */

.basketball{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 150vh;
    background-color: #192F59;
    border-radius:8px;
}

.bb1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 5%;    
    width: 50%;
    color: #192F59;
   
    
}

.bb1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.basketball .basketball1 p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}







    /* Ground Background */

.ground img{
   
    position:relative;
    width: 100%;
    height: 30vh;
    top:-10vh;
}

.ground-container{

    position: relative;
}
 

#particles-js p{

    position: relative;
    color:white;
    font-size:1.5em;
    font-weight:bold;
    top:25%;
    left:30%;

}

.latest-notifications #particles-js p{
     
    position: relative;
    color:white;
    font-size: 1.5em;
    font-weight:bold;
    top:5%;

}

.About-us #particles-js p{

    position: relative;
    color:white;
    font-size: 1.5em;
    font-weight:bold;
    top:20%;
    left:40%

}

.About-us #particles-js{

    position:relative;
    width: 100vw;
    height:15vh;
}




    
.search{

    height: 0px;
    width: 0px;
    visibility: hidden;
  
}

.navbar-brand{

    padding:20px;
    color:white;
    font-size: 1em;
    font-weight:600;
}

.nav-item .nav-link{
    color:white;
    font-size: 1em;
    font-weight:400;
}

.nav-link{

    padding:10px;
}

.dropdown-item{
    padding:10px;
}

.scroll-news{
    height: 0px;
    width: 0px;
    visibility: hidden;
    
}


.Latest-news{
    height: 0px;
    width: 0px;
    visibility: hidden;

}


.Screen-reader{
    height: 0px;
    width: 0px;
    visibility: hidden;
}


.Zonal{

    height: 0px;
    width: 0px;

 
}

.Zonal ul li{
    
    height: 0px;
    width: 0px;
    visibility: hidden;
}

.InterZonal ul li{

    height: 0px;
    width: 0px;
    visibility: hidden;
 

}

.InterZonal{

    height: 0px;
    width: 0px;
    visibility: hidden;
 
}

.InterUniversity{

    height: 0px;
    width: 0px;
    visibility: hidden;
 
}

.InterUniversity ul li{

    height: 0px;
    width: 0px;
    visibility: hidden;
 

}


.About-Us{
    
    background-color:#192F59;
    width:100%;
    height:10vh;
    margin: 49vmin 0vmin 0vmin 0vmin;
 
}
.About-Us p{
    
    color: white;
    
}

.hand{
    position: absolute;
    
}

.hand-paragraph h2{
    
    height: 0px;
    width: 0px;
    visibility: hidden;

   
}

.hand-paragraph p{
    height: 0px;
    width: 0px;
    visibility: hidden;
    

}

.footer{

    background-color:#192F59;
    width:100%;
    height:100vh;
}

.footer ul{
   
    display: flex;
    flex-direction:column ;
    width: 100%;
    height: auto;
    background-color: #192F59;

}

.footer ul li{
   
    list-style-type: none;
    padding: 2%;
    color: white;
    font-size: 4vw;
    font-weight: 550;
    
}

.footer ul p{
    display: block;
    color: #FFCC66;
    padding: 20vmin;
    

    
}

.footer ul li .N2{
   
    height: 0px;
    width: 0px;
    visibility: hidden;
}


.line{
    
    position: absolute;
    top:510%;
    color: white;
    
}

.C1{
    
    position: relative;
    justify-content: center;
    align-items: center; 
    left:10%;

}

.fa-copyright{

    position: relative;
    justify-content: center;
    align-items: center; 
    left:10%;

}


.line2{
  
    position: absolute;  
    color: #FFCC66;
    border: 1px solid #FFCC66;
    

    
}


.Latest-news{
    
    height: 0px;
    width: 0px;
    visibility: hidden;

}

.Screen-reader{

    height: 0px;
    width: 0px;
    visibility: hidden;

}


.Message .heading span h2{
    
    display: inline-block;
    color: #FFCC66;
    position: relative;
    left:0%;
    top:10%; 
    font-size:1.5em;  
 
}


.Message .heading span ul{

    position: relative;
    left:-5%;
    top:0%;
    font-size:1em;
       
}

.Message .heading span ul li:nth-child(6){


    font-size:3vw;

}




.ausb1{
    
    position: relative;
    top:10vmin;
    left:10%;
    width: 80%;
    height: 1500vh;
    background-color: #192F59;
    border-radius:8px;
    
}

.ausb2{

    position: relative;
    height:7vh;  
    color: #192F59;
 
    

    
}.ausb2 .bg{

    visibility: hidden;
}


.ausb2 P{

    padding: 10px 0px 0px 45px;
    font-weight: 550;
    font-size: 1em;
    
}





.Organisation H5{


    position: relative;
    left:8%;
    top:10%;
    color:white;
    font-weight:600;
    font-size: 1em;
    width:400;
  
 
  

}

.Organisation p{
    
    position: relative;
    left:-65%;
    color: #FFCC66;
    width: 500%;
    font-weight:300;
    font-size: 1em;
  
}

.Zone-wise{
    
    position: relative;
    top:10vmin;
    left:10%;
    width: 80%;
    height: 300vh;
    background-color: #192F59;
    border-radius:8px;
}

.colleges{
    
    position: relative;
    top:2%;
    left:3%;
    background-color: #FFCC66;
    height: 7vh;    
    width: 70%;
    color: #192F59;
    
    
}

.colleges P{

    padding: 5% 0% 0% 5%;
    font-weight: 550;
    font-size: 1em;
}



.colleges ul li{
    
    display: flex;
    justify-content: space-between;
    color: #192F59;
    background-color: #FFCC66;
    width: 150%;
    height: 8vh;
    padding: 20%;
    border-radius: 4px;
    flex-direction: column;
}


.Zone-wise .colleges ul li:nth-child(1){
    
    position: relative;
    color:#192F59;
    top: 2%;
    left:-100%;
    padding: 2% 0% 0% 20%;
}

.Zone-wise .colleges ul li:nth-child(2){

    position: relative;
    color:#192F59;
    top: 2%;
    left:-100%;
    padding: 2% 0% 0% 20%;
}

.Zone-wise .colleges ul li:nth-child(3){

     
    position: relative;
    color:#192F59;
    top: 2%;
    left:-100%;
    padding: 2% 0% 0% 20%;
}


.Zone-wise .colleges ul li:nth-child(4){
 
    position: relative;
    color:#192F59;
    top: 2%;
    left:-100%;
    padding: 2% 0% 0% 20%;
}



.Zone-wise .colleges ul li:nth-child(5){

   
    position: relative;
    color:#192F59;
    top: 2%;
    left:-100%;
    padding: 2% 0% 0% 20%;
}



.Zone-wise .colleges ul li:nth-child(6){
   
    position: relative;
    color:#192F59;
    margin-top: 50vh;
    padding:2% 0% 0% 25%;
    margin-left: -35vw;
 
}

.Zone-wise .colleges ul li:nth-child(7){

    position: relative;
    color:#192F59;
    margin-top: 5vh;
    padding:2% 0% 0% 25%;
    margin-left: -35vw;
}

.Zone-wise .colleges ul li:nth-child(8){
   
    position: relative;
    color:#192F59;
    margin-top: 5vh;
    padding:2% 0% 0% 25%;
    margin-left: -35vw;
}


.Zone-wise .colleges ul li:nth-child(9){

    position: relative;
    color:#192F59;
    margin-top: 5vh;
    padding:2% 0% 0% 25%;
    margin-left: -35vw;
}



.Zone-wise .colleges ul li:nth-child(10){

    position: relative;
    color:#192F59;
    margin-top: 5vh;
    padding:2% 0% 0% 25%;
    margin-left: -35vw;
}

.Zone-wise .colleges ul li:nth-child(11){

    position: relative;
    color:#192F59;
    left:-22vw;
    margin-top: 50vh;
    padding:2% 0% 0% 20%;
  
}

.Zone-wise .colleges ul li:nth-child(12){

    position: relative;
    color:#192F59;
    left:-22vw;
    margin-top: 5vh;
    padding:2% 0% 0% 20%;
}

.Zone-wise .colleges ul li:nth-child(13){

   
    position: relative;
    color:#192F59;
    left:-22vw;
    margin-top: 5vh;
    padding:2% 0% 0% 20%;
}


.Zone-wise .colleges ul li:nth-child(14){

    
    position: relative;
    color:#192F59;
    left:-22vw;
    margin-top: 5vh;
    padding:2% 0% 0% 20%;
}



.Zone-wise .colleges ul li:nth-child(15){

    
    position: relative;
    color:#192F59;
    left:-22vw;
    margin-top: 5vh;
    padding:2% 0% 0% 20%;
}


.Zone-wise .colleges ul li:nth-child(16){

    position: relative;
    left:-22vw;
    color:#192F59;
    margin-top:50vh;
    padding: 2% 0% 0% 25%;
   
}

.Zone-wise .colleges ul li:nth-child(17){

    position: relative;
    left:-22vw;
    color:#192F59;
    margin-top:5vh;
    padding: 2% 0% 0% 25%;
}

.Zone-wise .colleges ul li:nth-child(18){

    position: relative;
    left:-22vw;
    color:#192F59;
    margin-top:5vh;
    padding: 2% 0% 0% 25%;
}


.Zone-wise .colleges ul li:nth-child(19){

    position: relative;
    left:-22vw;
    color:#192F59;
    margin-top:5vh;
    padding: 2% 0% 0% 25%;
}



.Zone-wise .colleges ul li:nth-child(20){


    position: relative;
    left:-22vw;
    color:#192F59;
    margin-top:5vh;
    padding: 2% 0% 0% 25%;
    
}

.wrapper{

    margin:20% 0% 0% 60%;
}


/* Physical Director Profile */


.Physical{
    
    position: relative;
    top:10vmin;
    left:10%;
    width:80%;
    height:50vh;
    background-color: #192F59;
    border-radius:8px;
}

.director{

    position: relative;
    top:10%;
    left:5%;
    background-color: #FFCC66;
    height: 8vh;    
    width:65vw;
    color: #192F59;
    
}

.director P{

    position: relative;
    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
    width:100vw;
}


.director .link{
    
    position: relative;
    top:50%;
    color: #FFCC66;
    
}

/* Official Section */

.Officials{
    
    position: relative;
    top:10vmin;
    left:10%;
    width:85vw;
    height:480vh;
    background-color: #192F59;
    border-radius:8px;
}

.faculities{

    position: relative;
    background-color: #FFCC66;
    height: 7vh;    
    width: 35%;
    color: #192F59;
    top:2%;
    left:5%;
    
}

.faculities P{

    padding: 5% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}




.Officials .frame-1{
    
    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    background-color:#C4C4C4;
    border-radius: 6px;
      

}

.Officials .frame-1 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-1 p{

    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}


.Officials .frame-2{
    
      
    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    background-color:#C4C4C4;
    border-radius: 6px;

}

.Officials .frame-2 img{

    
    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-2 p{

    
    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}


.Officials .frame-3{
    
 
    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    margin-top:20vh;
    background-color:#C4C4C4;
    border-radius: 6px;

}

.Officials .frame-3 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-3 p{

   
    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}



.Officials .frame-4{
    
    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    margin-top:20vh;
    background-color:#C4C4C4;
    border-radius: 6px;
    

}

.Officials .frame-4 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-4 p{
   
    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}


.Officials .frame-5{
    

    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    margin-top:20vh;
    background-color:#C4C4C4;
    border-radius: 6px;
    
    

}

.Officials .frame-5 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-5 p{

    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}

.Officials .frame-6{

    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    margin-top:5vh;
    background-color:#C4C4C4;
    border-radius: 6px;
    

}

.Officials .frame-6 img{

    
    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-6 p{

    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}

.Officials .frame-7{

    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    margin-top:20vh;
    background-color:#C4C4C4;
    border-radius: 6px;
    

}

.Officials .frame-7 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-7 p{

    
    font-size: 0.8em;
    padding: 5% 0% 0% 8%;

}


.Officials .frame-8{
    
     
    position:relative;
    width: 58vw;
    height:50vh;
    left:15vw;
    margin-top:20vh;
    background-color:#C4C4C4;
    border-radius: 6px;

}

.Officials .frame-8 img{

    position: relative;
    width: 45%;
    height:30%;
    margin-top: 10%;
    left:25%;
}

.Officials .frame-8 p{
    
    font-size: 0.8em;
    padding: 5% 0% 0% 8%;
}

.wrapper-2,.wrapper-3{

    margin-top: 50%;
}


/* Zonal Section */

.zonal{
    
    
    position: relative;
    top:10vh;
    left:8vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.z1{

    position: relative;
    background-color: #FFCC66;
    height: 7%;    
    width: 25%;
    color: #192F59;
    top:5%;
    left: 5%;
    
}

.z1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}




.zonal .zonal-links p{

    color: #FFCC66;
    width: 80vw;
    font-weight:500;
    font-size: 1em;
    padding: 15%;
}



/* Inter Zonal Section */

.IIZ1{
    
    position: relative;
    top:10vh;
    left:8vw;
    width: 80vw;
    height: 120vh;
    background-color: #192F59;
    border-radius:8px;
}

.IZ1{

    position: relative;
    top:7vh;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 50%;
    color: #192F59;
    
    
}

.IZ1 P{

    padding: 2% 0% 0% 25%;
    font-weight: 550;
    font-size: 1em;
}




.IIZ1 .Interzonal-links p{

    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 10%;
}

/* Inter University Section*/


.IU1{
    
    position: relative;
    top:10vh;
    left:8vw;
    width: 80vw;
    height: 120vh;
    background-color: #192F59;
    border-radius:8px;
}

.IUD1{

    position: relative;
    top:7vh;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 50%;
    color: #192F59;
    
}

.IUD1 P{

    padding: 2% 0% 0% 25%;
    font-weight: 550;
    font-size: 1em;
}



.IU1 .Inter-links p{
    
    color: #FFCC66;
    width: 60vw;
    font-weight:500;
    font-size: 1em;
    padding: 10%;


}

.IU1 .Inter-links {

    margin-top: 10%;
}


/* News and Events Section */

.NN1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.NE1{

    position: relative;
    top:5%;
    left:5%;
    background-color: #FFCC66;
    height: 7%;    
    width: 60%;
    color: #192F59;
   
    
}

.NE1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.NN1 .Interzonal-links p{

    color: #FFCC66;
    width: 65vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}

/* Achievements Section */


.table-body{

    position: relative;
    top:5vw;
    left:10%;
    width: 80vw;
    height: 650vh;
    background-color: #192F59;
    border-radius:8px;
}

.table-heading{
   
    position: relative;
    top:1%;
    left:8%;
    background-color: #FFCC66;
    color: #192F59;
    width: 70vw;
    height: 18vh;
    border-radius: 6px;


}

.table-heading p{
    
    display:flex;
    justify-content: center;
    padding:2%;
    font-size: 1em;
    font-weight: 600;
}

.table-heading p:nth-child(2){
      
    position: relative;
    top:-20%;

}

table{
    
    position: relative;
    color: #FFCC66;
    border: 1em;
    margin: 20%;
    border: #FFCC66;
}

table td, table th{

    border: 2em solid #FFCC66;
    padding: 20%;
    background-color: #192F59;
    
}

/* Table Heading 2 */


.table-heading2{
   
    position: relative;
    top:6vh;
    left:8%;
    background-color: #FFCC66;
    color: #192F59;
    width: 70vw;
    height: 18vh;
    border-radius: 6px;
  
}

.table-heading2 p{
    

    display:flex;
    justify-content: center;
    padding: 1%;
    font-size: 1em;
    font-weight: 600;
}

.table-heading2 p:nth-child(2){
      
    position: relative;
    top:2%;



}

table{
   
    position: relative;
    color: #FFCC66;
    border: 1px;
    margin:20px;
    top:7vh;
    border: #FFCC66;
}

table td, table th{

    border: 2px solid #FFCC66;
    padding: 1vw;
    background-color: #192F59;
    
}


/* Achievements 2015-2016 */


.image{

    position: relative;
    top:20%;
    left:20%;
}

.table-body{

    position: relative;
    top:5vw;
    left:10%;
    width: 80vw;
    height:1000vh;
    background-color: #192F59;
    border-radius:8px;
}



.image{

    position: relative;
    top:20vh;
    left:20%;
    width:50%;
    height: 20%;
}


/* Achcievements 2012-2013 */


/* About AUSB */ 

.ausb4{
     
    position: relative;
    top:10vh;
    left:10vw;
    width: 90vw;
    height: 700vh;
    background-color: #192F59;
    border-radius:8px;
}

.ausb5{
   
    position: relative;
    top:2vh;
    left:2vw;
    background-color: #FFCC66;
    height: 0.9%;    
    width: 50%;
    color: #192F59;
  
    
}

.ausb5 P{
  
    
    position: relative;
    padding: 2% 0% 0% 0%;
    font-weight: 550;
    font-size: 1em;
}



.organisation H5{
   
    position: relative;
    color:white;
    font-weight:600;
    font-size: 1em;
    width: 50%;
    margin-top: 10%;


}

.organisation p{
   
    position: relative;
    color: #FFCC66;
    width: 70vw;
    left:2vw;
    font-weight:300;
    font-size: 1em;
   
  
}

/* Contact Us Section */


.Q1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.Q2{

    position: relative;
    top:5vh;
    left:2vw;
    background-color: #FFCC66;
    height: 7vh;    
    width: 50%;
    color: #192F59;

    
}

.Q2 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.Q1 .Interzonal-links p{

    color: #FFCC66;
    width:100vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


.Interzonal-links .user{

    position:relative;

}

.Interzonal-links .library,.phone,.mail,.building{

      position:relative;
    
}


.location{
    
    position: relative;
    top:20vh;
    left: 0vw;
    border-radius: 20px;
    visibility: hidden;
    
}


/* Important Links Section */


.IMP1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.IM1{

    position: relative;
    background-color: #FFCC66;
    height:7%;    
    width:50%;
    color: #192F59;
    top:5%;
    left: 5%;
    
}

.IM1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}



.IMP1 .Interzonal-links p{

    color: #FFCC66;
    width: 70vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
}


/* Gallery Section */

.GG1{
    
    position: relative;
    top:10vh;
    left:10vw;
    width: 80vw;
    height: 150vh;
    background-color: #192F59;
    border-radius:8px;
}

.G1{

    position: relative;
    top:5vh;
    left:2vw;
    background-color: #FFCC66;
    height:5%;    
    width:50%;
    color: #192F59;

    
}

.G1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}


.GG1 .Interzonal-links p{

    color: #FFCC66;
    width: 65vw;
    font-weight:500;
    font-size: 1em;
    padding: 5%;
  
}

.Interzonal-links .photo{

    position:relative;
    top:5vh;
    left:5vw;
}

 .description{

    position:relative;
    top:5vh;
    left:5vw;
}


.GA{

    position:relative;
    top:-5vh;
    left:60vw;
}

.GA1{

    position:relative;
    top:-5vh;
    left:55vw;
}

#nextslide{
    visibility: hidden;
  
}


/* Media Query 768px */

@media(max-width:768px)
{

    .logo{
        height: 0px;
        width:0px;
        visibility: hidden;
    }

    .header{
        height: 0px;
        width: 0px;
        visibility: hidden;
    }

        
.search{

    height: 0px;
    width: 0px;
    visibility: hidden;
    padding: 0px;
  
}

.scroll-news{
    height: 0px;
    width: 0px;
    visibility: hidden;
    
}


.scroll-news p{

    height: 0px;
    width: 0px;
    visibility: hidden;
}

.Latest-news{
    height: 0px;
    width: 0px;
    visibility: hidden;

}


.Screen-reader{
    height: 0px;
    width: 0px;
    visibility: hidden;
}


.Zonal{
    height: 0px;
    width: 0px;
    visibility: hidden;
 
}

.InterZonal{
    height: 0px;
    width: 0px;
    visibility: hidden;

}

.InterUniversity{

    height: 0px;
    width: 0px;
    visibility: hidden;
 
}

.InterUniversity ul li{

    height: 0px;
    width: 0px;
    visibility: hidden;
 

}

.About-Us{
    
    background-color:#192F59;
    width:100%;
    height:10vh;
    margin: 49vmin 0vmin 0vmin 0vmin;
 
}
.About-Us p{
    
    color: white;
    
}


.hand-paragraph h2{
    
    height: 0px;
    width: 0px;
    visibility: hidden;

   
}

.hand-paragraph p{
    height: 0px;
    width: 0px;
    visibility: hidden;
    

}


.Screen-reader{

    background-color: #192F59;
    border-radius: 8px;
    width:65%;
    height:auto;
    position: relative;
    left: 120%;
    top:-50%;

}




}

/* Media Query 992px */

@media(max-width:992px){

    .Zonal{
        height: 0px;
        width: 0px;
        visibility: hidden;
     
    }
    
    .InterZonal{
        height: 0px;
        width: 0px;
        visibility: hidden;
    
    }

    .Zonal ul li{
    
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
    
    .InterZonal ul li{
    
        height: 0px;
        width: 0px;
        visibility: hidden;
     
    
    }

    .InterUniversity{

        height: 0px;
        width: 0px;
        visibility: hidden;
     
    }
    
    .InterUniversity ul li{
    
        height: 0px;
        width: 0px;
        visibility: hidden;
     
    
    }

    .About-Us{
    
        background-color:#192F59;
        width:100%;
        height:10vh;
        margin: 49vmin 0vmin 0vmin 0vmin;
     
    }
    .About-Us p{
        
        color: white;
        
    }

    
.hand-paragraph h2{
    
    height: 0px;
    width: 0px;
    visibility: hidden;


   
}

.hand-paragraph p{
    height: 0px;
    width: 0px;
    visibility: hidden;
    
    

}
.Screen-reader{

    background-color: #192F59;
    border-radius: 8px;
    width:65%;
    height:auto;
    position: relative;
    left: 120%;
    top:-50%;

}



    
    
}


/* Media Query 1200px */

@media(max-width:1200px){

    .Zonal{
        height: 0px;
        width: 0px;
        visibility: hidden;
     
    }
    
    .InterZonal{
        height: 0px;
        width: 0px;
        visibility: hidden;
    
    }
    .Zonal ul li{
    
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
    
    .InterZonal ul li{
    
        height: 0px;
        width: 0px;
        visibility: hidden;
     
    
    }
    
    .InterUniversity{

        height: 0px;
        width: 0px;
        visibility: hidden;
     
    }
    
    .InterUniversity ul li{
    
        height: 0px;
        width: 0px;
        visibility: hidden;
     
    
    }

    .About-Us{
    
        background-color:#192F59;
        width:100%;
        height:10vh;
        margin: 60vmin 0vmin 0vmin 0vmin;
     
    }
    .About-Us p{
        
        color: white;
        
    }

    .Screen-reader{

        background-color: #192F59;
        border-radius: 8px;
        width:65%;
        height:auto;
        position: relative;
        left: 120%;
        top:-40%;
    
    }

    

  
}

}