@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "Director Message.css";
@import "About AUSB.css";
@import "Colleges.css";
@import "Physical Director Profile.css";
@import "Official.css";
@import "Zonal.css";
@import "InterZonal.css";
@import "InterUniversity.css";
@import "News and Events.css";
@import "Achievements.css";
@import "Achievements\ 2015-2016.css";
@import "Achievements\ 2012-2013.css";
@import "Contact Us Section.css";
@import "Important Links.css";
@import "Gallery Section.css";
@import "Card Section.css";
@import "360 Degree Section.css";
@import "Media Query 576px.css";
@import "Media Query 768px.css";
@import "Media Query 992px.css";
@import "Media Query 1200px.css";

/* Zonal Section */

.zonal{
    
    
    position: relative;
    top:10vh;
    left:8vw;
    width: 80vw;
    height: 100vh;
    background-color: #192F59;
    border-radius:8px;
}

.z1{

    position: relative;
    background-color: #FFCC66;
    height: 7%;    
    width: 10%;
    color: #192F59;
    top:5%;
    left: 5%;
    
}

.z1 P{

    padding: 2% 0% 0% 20%;
    font-weight: 550;
    font-size: 1em;
}




.zonal .zonal-links p{

    color: #FFCC66;
    width: 100vw;
    font-weight:500;
    font-size: 1em;
    padding: 15%;
}
